* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.home-icon a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 30px;
  color: #000;
  margin-right: 57px;
  margin-top: -45px;
}

/* ---------------------------HEADER------------------ */
.header {
  font-size: 20px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #dbb8d6fa;
}

.logo i {
  color: #998100;
}
.logo h2 {
  margin-top: -20px;
}
.nav-lst {
  display: flex;
  list-style: none;
  margin: 16px 5px 16px 105px;
}
.nav-lst li {
  margin-right: 16px;
  text-transform: capitalize;
  margin-top: 20px;
}
.logo {
  text-decoration: none;
  color: #40630f;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 700;
  margin-right: 292px;
}
/* title---------general---------- */
.title {
  color: #40630f;
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.nav-lst a {
  text-decoration: none;
  transition: 0.5s;
  color: #40630f;
}
.nav-lst .a-nav:hover {
  color: #998100;
}
.nav {
  display: flex;
}

.box-search {
  display: flex;
  padding: 16px;
  margin-top: 16px;
  border-radius: 24px;
}
.box-search .search-btn {
  text-decoration: none;
  color: #998100;
}
.box-search .search-input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 550;
  background: transparent;
  transition: 1s;
}
.box-search:hover .search-input {
  width: 250px;
}

.container {
  padding: 140px 100px;
}
.hero-sec {
  background-image: url("/css/img/hero.jfif");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

.main-title {
  text-transform: capitalize;
  font-size: 61px;
  letter-spacing: 1px;
  margin-bottom: 32px;
  color: #40630f;
}

/* --------------book-table------------- */
.book-btn {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  background-color: #998100;
  text-decoration: none;
  padding: 0.8em;
  color: beige;
  border-radius: 25px;
  margin-right: 16px;
  margin-bottom: 60px;
  width: 10em;
  transition: all 0.5s;
}

.frm-clos {
  margin-top: 56px;
  font-size: 35px;
  display: flex;
  color: #998100;
  right: 0;
  justify-content: flex-end;
  text-decoration: none;
  margin-right: 113px;
  margin-bottom: -70px;
}
.book-container {
  background-color: #fafafa;
  margin: 100px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 60%;
  color: #fafafa;
  letter-spacing: 1px;
}
.container-time {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 50px;
  outline: 3px dashed #998100;
  outline-offset: -30px;
  text-align: center;
}
.heading {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.heading-yellow {
  color: #998100;
}
.heading-days {
  color: #998100;
  font-size: 30px;
  margin-bottom: 15px;
}
.heading-days + p {
  margin-bottom: 10px;
}
.heading-phone {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.container-form {
  padding: 20px 0;
  margin: 0 auto;
  color: #000;
}
.form {
  display: grid;
  gap: 20px;
  text-transform: capitalize;
}
.form p {
  font-weight: 600;
}
.form-field {
  display: flex;
  justify-content: space-between;
}
input,
select {
  padding: 10px 15px;
}
.frm-btn {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  cursor: pointer;
}
.frm-btn:hover {
  transform: scale(1.03);

  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}

.book-btn:hover {
  scale: 1.1;
}
/*---------------------------- FOOD ICON */
.food-icons {
  display: flex;
}
.food-icons img {
  width: 45px;
  height: 45px;
  margin: 1.5em 0.5em;
}
/* -----------------------------SERVICE */
.service {
  background-color: #b0bcc447;
  padding: 50px;
  margin: 45px 0;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.icons {
  margin-left: 124px;
}
.icons img {
  width: 150px;
  height: 165px;
}
.info h3 {
  color: #40630f;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}
.info {
  text-align: center;
}
.info p {
  font-size: 18px;
  font-weight: 700;
}
.title-info {
  text-align: center;
}

/* --------GALLERY----------------------- */
.gallery-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 40% 60%;
  padding: 0 50px;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  border-radius: 20px;
}
.video1 {
  height: 300px;
  display: block;
  width: 100%;
  border-radius: 20px;
}
.video2 {
  margin-top: 35px;
  width: 100%;
}

/* -----------------MOBILE-APP---------------------------- */
.mobile-app {
  background-color: #dbb7d5;
}
.mobile-app-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 50px;
  padding: 50px;
}
.mobile-app-img img {
  width: 400px;
  height: 400px;
  margin-left: 280px;
}
.vid-mobile-app {
  width: 400px;
  height: 400px;
  margin-left: 280px;
}
.mobile-btns {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.IOS-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 35px 2px 15px;
  height: 68px;
  width: 195px;
  font-size: 14px;
  color: #fff;
  background: #40630f;
  border: solid #40630f 2px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.IOS-btn:hover {
  background-color: #fff;
  color: #40630f;
  border-color: #40630f;
}
.android-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 35px 3px 15px;
  width: 200px;
  height: 70px;
  font-size: 14px;
  font-weight: 500;
  color: #40630f;
  background: #fff;
  border: solid #40630f 3px;
  border-radius: 21px;
  cursor: pointer;
  transition: 0.3s;
}
.android-btn:hover {
  background-color: #40630f;
  color: #fff;
}
.btns-text {
  text-align: left;
}
.btns-text span {
  font-size: 24px;
  font-weight: 500;
}
.apple-icon,
.google-play-icon {
  font-size: 36px;
  margin-right: 10px;
  transition: 0.3s;
}
/* ------------------MENU-BACKGROUND-AND-FLEX------------- */
.pizaa {
  background-color: #dbb8d6fa;
}
.slider {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
  margin-top: 30px;
  color: #40630f;
}
.ramadan-sohor {
  color: #8f3a82;
  margin-top: 80px;
}
/* -----------------------ARR0W-MENU-------------------- */
.rit-arrow,
.lft-arrow {
  font-size: 30px;
}
/* ---------------------MENU-CARD------------ */
.card .img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
  background-color: #dbb8d6fa;
  margin-top: -90px;
}
.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card {
  background: white;
  border-radius: 20px;
  margin: 20px 30px;
  width: 320px;
  height: 300px;
  position: relative;
  transition: 0.5s;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}
.card .name-food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 20px;
}
.card .name-food .name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #40630f;
}
.card .name-food .ingradient {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
}
.card .ratting-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #998100;
  margin-top: 7px;
  margin-left: 245px;
  position: absolute;
  flex-direction: column;
  font-size: 25px;
}
.card .ratting-stars i {
  margin: 0 2px;
}

.button {
  display: grid;
  text-align: center;
  justify-content: center;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.button .price {
  margin-right: 75px;
  font-size: 20px;
}
.button .cart {
  display: inline-block;
  text-decoration: none;
  color: #40630f;
  border-radius: 20px;
  font-size: 28px;
  transition: all 0.3s ease;
}
.quantity {
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 16px;
}
.pizaa-size {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.size {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  padding: 2px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 25%;
  background-color: #dbb8d6fa;
  transition: all 0.3s ease-in-out;
}
.size:hover {
  background-color: #40630fb9;
  scale: 1.1;
}
/* ----------------------------CARD-HOVER------------------------- */
.card:hover {
  transform: scale(1.1);
}
.pizaa .card:hover {
  background-color: #40630f69;
}
.pizaa .card:hover .size {
  background-color: #998100;
}
.drink .card:hover {
  background-color: #40630f69;
}
.drink .card:hover .size {
  background-color: #998100;
}
.pasta .card:hover {
  background-color: #dbb8d6fa;
}
.salad .card:hover {
  background-color: #40630f69;
}
.side-items-sec .card:hover {
  background-color: #dbb8d6fa;
}
.drink .card:hover {
  background-color: #40630f69;
}
.dessert .card:hover {
  background-color: #dbb8d6fa;
}
.dessert .card:hover .size {
  background-color: #40630f69;
}
/* -------------SPICIAL------------------- */
.card .name-food .name1 {
  color: #812373;
  margin-bottom: 15px;
}
.pinky {
  color: #812373;
}

.dessert .button1 {
  margin-top: 30spx;
  display: block;
}

.button .cart1 {
  display: inline-block;
  text-decoration: none;
  color: #8f3a82;
  border-radius: 20px;
  font-size: 28px;
  transition: all 0.3s ease;
}
.button .cart:hover {
  color: #998100;
}

/*-------------------------OUR-CHEFS---------------  */
.our-chefs {
  margin: 60px;
}
.chef-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.chef-img img {
  width: 300px;
  height: 300px;
  margin-top: 25px;
}

/* -----------------FEADBACK */
.feadback {
  margin-bottom: 60px;
}
.card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-fead img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-fead {
  padding: 35px 50px;
}
.ratting-stars-fead {
  margin-bottom: 15px;
  color: #998100;
}
.customer-name {
  color: #8f3a82;
}

/* -----------------------CONTACT-SOCIAL------------------ */
.contact {
  background-image: url(/css/img/contact.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stay-yitle {
  color: #fff;
}
.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.contact .social {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff solid 3px;
  transition: 0.5s;
  cursor: pointer;
}
.contact .social a {
  color: #fff;
  font-size: 25px;
}
.contact .social:hover {
  scale: 1.2;
}
/* ---------------------------FOOTER-------------- */
.footer-grid {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: grid;
  align-items: stretch;
  justify-content: center;
}
.p-about-footer {
  color: #40630f;
  font-size: 20px;
  margin-top: 15px;
}
.footer-title {
  color: #40630f;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}
.information-icons {
  color: #40630f;
}
.information-icons i {
  color: #998100;
}
.information-flex,
.usefull-link-flex,
.our-menu-flex {
  flex-direction: column;
}
.information-flex p {
  margin-bottom: 15px;
}

.footer {
  padding: 50px 100px;
  background-color: #dbb8d6fa;
}
.footer a {
  text-decoration: none;
  color: #40630f;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  transition: all 0.5s;
}
.footer .foote-nav:hover {
  color: #998100;
}
.under-footer {
  margin-top: 10px;
  color: #40630f;
  display: flex;
  justify-content: center;
  align-items: center;
}
